.bs-docs-sidebar.affix {
    position: fixed;
    top: 0;
}

.bs-docs-sidenav {
    width: 250px;
    margin: 30px 0 0;
    padding: 0;
     background-color: #fff;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
     -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav li {
    padding-left: 9px;
    margin: 0.5em 0;
}

.bs-docs-sidenav > .active > a {
    margin-top: 0.5em;
    position: relative;
    z-index: 2;
    padding: 9px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    border-left: 3px solid #563D7C;
}

.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}

.bs-docs-sidebar .nav .nav > li > a {
    font-size: 12px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
    background-color: rgba(0, 0, 0, 0);
    border-left: 2px solid #563D7C;
    color: #563D7C;
}

.dl-horizontal dt {
    overflow: visible;
    white-space: normal;
    width: 260px;
}

.dl-horizontal dd {
    padding-left: 7em;
}

#section-diagnostico {
    margin-top: 6em!important;
}

input[type="range"] {
        display: inline !important;
        width: 70%;
}

.range-label {
    font-weight: 700;
    vertical-align: 70%;
    margin-left: 0.5em;
}

.radio label {
    font-weight: 700;
}
