label {
    display: inline;
}

ul.nav li a,
ul.nav img {
    height: 8em;
}

.footer {
    width: 90%;
    margin: 2em auto;
    text-align: center;
}

.footer .span6 {
    padding-top: .4em;
    font-size: 1.5em;
}
