.dl-horizontal dt {
    overflow: visible;
    white-space: normal;
    width: 260px;
}

.dl-horizontal dd {
    padding-left: 7em;
}

input[type="range"] {
    display: inline !important;
    width: 70%;
}

.range-label {
    vertical-align: 70%;
    margin-left: 0.5em;
}

.panel-heading {
    padding: 0;
}

a {
    display: block;
    padding: 20px 30px;
}

#icone {
    height: 1em;
    margin: 0.2em;
}
